[submodule "Source/3rdParty/SDL3"]
	path = Source/3rdParty/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "Source/3rdParty/SDL3_net"]
	path = Source/3rdParty/SDL3_net
	url = https://github.com/libsdl-org/SDL_net.git
