# CMake build directory
Build/
Bin/
# Clangd cache
.cache/
# Archlinux Package
Package/ArchLinux/pkg/
Package/ArchLinux/rmg/
Package/ArchLinux/src/
Package/ArchLinux/*.pkg.*
# Fedora Package
Package/Fedora/*.rpm
Package/Fedora/*.tar.gz
Package/Fedora/results_*/
# Clangd compile_commands.json
compile_commands.json
# AppImage
squashfs-root
*.AppImage
Package/AppImage/appimagetool
Package/AppImage/lib4bin
Package/AppImage/sharun
# 3rdParty Build
Source/3rdParty/mupen64plus-core/src/asm_defines/asm_defines_gas.h
Source/3rdParty/mupen64plus-core/src/asm_defines/asm_defines_nasm.h
.vscode

# Source/3rdParty/libarchive's shitty ignore file
Source/3rdParty/libdatachannel/deps
Source/3rdParty/libdatachannel/CMakeFiles
Source/3rdParty/libdatachannel

# Git version hash File
Source/RMG-Core/VersionHash.hpp

# weird Discord RPC static library
lib/libdiscord-rpc.a

# Local environment overrides
.env

*.DS_Store